#standard-edition-container:hover,
#business-critical-edition-container:hover,
#enterprise-edition-container:hover,
#on-demand-storage-div:hover,
#capacity-storage-div:hover {
  background-color: #f5f5f5;
  box-shadow: 0 0 0 2px #e0e0e0;
}

span,
p,
h1,
h2,
h3 {
  font-family: Jost, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.snowflake-calc-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.snowflake-calc-voorkeurs-platform-regio-div {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  align-items: flex-start;
  justify-content: center;
}
.snowflake-calc-text {
  font-size: 20px;
  align-self: center;
  margin-bottom: 30px;
}
.snowflake-calc-container01 {
  width: 100%;
  height: 56px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}

.snowflake-calc-select-storage-type {
  color: #595959;
  width: 200px;
  height: 40px;
  border: none;
  font-size: 14px;
  align-self: center;
  text-align: center;
  font-weight: 500;
  margin-right: 20px;
  background-color: #edf0f4;
}

.snowflake-calc-select-cloudplatform {
  color: #595959;
  width: 205px;
  border: none;
  height: 40px;
  font-size: 14px;
  align-self: center;
  text-align: center;
  font-weight: 500;
  margin-right: 20px;
  background-color: #edf0f4;
}
.snowflake-calc-select-region {
  color: #595959;
  width: var(--dl-size-size-xlarge);
  border: none;
  height: 40px;
  font-size: 14px;
  align-self: center;
  text-align: center;
  font-weight: 500;
  margin-right: 20px;
  background-color: #edf0f4;
}
.snowflake-calc-select-currency {
  color: #595959;
  width: var(--dl-size-size-xlarge);
  border: none;
  height: 40px;
  font-size: 14px;
  align-self: center;
  text-align: center;
  font-weight: 500;
  margin-right: 20px;
  background-color: #edf0f4;
}
.snowflake-calc-line-divider-div {
  width: 752px;
  height: 9px;
  display: flex;
  align-self: center;
  margin-top: 20px;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 1px;
  margin-bottom: 20px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.snowflake-calc-schatting-opslag-div {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  align-self: center;
  margin-top: 10px;
  align-items: flex-start;
  justify-content: center;
}
.snowflake-calc-schatting-opslag-verbruikskosten-div {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.snowflake-calc-heading {
  font-size: 20px;
  align-self: center;
  margin-right: 25px;
}
.snowflake-calc-icon {
  width: 24px;
  height: 24px;
}
.snowflake-calc-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 30px;
  align-items: flex-start;
  justify-content: center;
}
.snowflake-calc-container03 {
  flex: 0 0 auto;
  width: 50%;
  border: 1px solid rgba(120, 120, 120, 0.4);
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: flex-start;
  border-width: 1px;
  justify-content: center;
}
.snowflake-calc-container04 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.snowflake-calc-warehouse-size-div {
  flex: 0.5;
  width: 40%;
  height: 160px;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-right: 1px solid rgba(120, 120, 120, 0.4);
  border-width: 1px;
  flex-direction: column;
  border-bottom-width: 0px;
}
.snowflake-calc-heading1 {
  font-size: 16px;
  align-self: center;
  margin-top: 12px;
}
.snowflake-calc-text001 {
  font-size: 14px;
  align-self: center;
  margin-top: 20px;
}
.snowflake-calc-size-selection-div {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.snowflake-calc-left-button {
  color: white;
  width: auto;
  height: auto;
  z-index: 100;
  position: relative;
  font-size: 20px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 800;
  border-width: 0px;
  border-radius: 25px;
  background-color: black;
}
.snowflake-calc-size-number {
  font-size: 14px;
  align-self: center;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
}
.snowflake-calc-right-button {
  color: white;
  width: auto;
  height: auto;
  z-index: 100;
  position: relative;
  font-size: 20px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 800;
  border-width: 0px;
  border-radius: 25px;
  background-color: black;
}
.snowflake-calc-text002 {
  font-size: 14px;
  align-self: center;
  margin-top: 10px;
}
.snowflake-calc-warehouse-name-div {
  flex: 1;
  width: 70%;
  height: 160px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-width: 1px;
  flex-direction: column;
  border-bottom-width: 0px;
}
.snowflake-calc-warehouse-title-div {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  align-items: flex-start;
  justify-content: center;
}
.snowflake-calc-warehouse-title {
  flex: 1;
  width: 95%;
  display: flex;
  overflow: hidden;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.snowflake-calc-text003 {
  font-size: 16px;
  align-self: center;
  margin-top: 10px;
}
.snowflake-calc-container05 {
  flex: 1;
  width: 100%;
  height: 50%;
  display: flex;
  overflow: hidden;
  align-self: center;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}
.snowflake-calc-text004 {
  width: 200px;
  font-size: 14px;
  margin-top: 0px;
  margin-right: 15px;
}
.snowflake-calc-input {
  width: 150px;
  height: 26px;
  align-self: center;
  text-align: center;
}
.snowflake-calc-container06 {
  flex: 1;
  width: 100%;
  height: 50%;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  align-self: flex-start;
  justify-content: center;
}
.snowflake-calc-text005 {
  width: 200px;
  font-size: 14px;
  align-self: center;
  margin-top: 0px;
  text-align: center;
  margin-right: 15px;
}
.snowflake-calc-input1 {
  width: 150px;
  height: 26px;
  align-self: center;
  text-align: center;
}
.snowflake-calc-geschatte-opslag-div {
  flex: 0 0 auto;
  width: 100%;
  height: 49px;
  display: flex;
  overflow: hidden;
  border-top: 1px solid rgba(120, 120, 120, 0.4);
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-width: 1px;
  border-bottom: 1px solid rgba(120, 120, 120, 0.4);
  justify-content: center;
  background-color: #edf0f4;
}
.snowflake-calc-text006 {
  font-size: 12px;
  align-self: center;
  margin-right: 10px;
}
.snowflake-calc-input2 {
  width: 150px;
  height: 26px;
  align-self: center;
  text-align: center;
}
.snowflake-calc-text009 {
  font-size: 12px;
  align-self: center;
  margin-left: 10px;
}
.snowflake-calc-icon02 {
  width: 24px;
  height: 24px;
  align-self: center;
  margin-left: 25px;
  justify-content: center;
}
.snowflake-calc-total-hours-credits-storage-div {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-width: 1px;
}
.snowflake-calc-container07 {
  flex: 1;
  width: 33%;
  height: 75px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}
.snowflake-calc-icon04 {
  width: 24px;
  height: 24px;
}
.snowflake-calc-text012 {
  font-size: 14px;
  margin-left: 10px;
}
.snowflake-calc-text013 {
  font-weight: 900;
}
.snowflake-calc-container08 {
  flex: 1;
  width: 33%;
  height: 75px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}
.snowflake-calc-icon06 {
  width: 24px;
  height: 24px;
}
.snowflake-calc-text015 {
  font-size: 14px;
  margin-left: 10px;
}
.snowflake-calc-text016 {
  font-weight: 900;
}
.snowflake-calc-container09 {
  flex: 1;
  width: 30%;
  height: 75px;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.snowflake-calc-icon09 {
  width: 24px;
  height: 24px;
}
.snowflake-calc-text018 {
  font-size: 14px;
  margin-left: 10px;
}
.snowflake-calc-text019 {
  font-weight: 900;
}
.snowflake-calc-line-divider-div1 {
  width: 752px;
  height: 9px;
  display: flex;
  align-self: center;
  margin-top: 40px;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 1px;
  margin-bottom: Space-HalfUnit;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.snowflake-calc-schatting-per-editie-div {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin-top: 10px;
  align-items: flex-start;
  justify-content: center;
}
.snowflake-calc-schatting-per-editie-header {
  flex: 0 0 auto;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
}
.snowflake-calc-text022 {
  font-size: 20px;
  align-self: center;
  margin-right: 25px;
}
.snowflake-calc-icon13 {
  width: 24px;
  height: 24px;
  align-self: center;
}
.snowflake-calc-cloud-region {
  color: rgb(115, 115, 115);
  font-size: 12px;
  align-self: center;
  text-align: center;
  margin-right: 25px;
}
.snowflake-calc-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
.snowflake-calc-container11 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-top: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.snowflake-calc-standard-enterprise-businesscritical-costs-div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin-top: 60px;
  margin-bottom: 0px;
  justify-content: center;
}
.snowflake-calc-standard-edition-container {
  flex: 1;
  width: 33%;
  border: 1px solid rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: 0px;
  border-width: 1px;
  margin-right: 3%;
  border-radius: 5px;
  margin-bottom: 0px;
  flex-direction: column;
}
.snowflake-calc-container12 {
  flex: 0 0 auto;
  width: 60px;
  height: 60px;
  display: flex;
  overflow: visible;
  align-self: center;
  margin-top: -30px;
  align-items: flex-start;
  border-radius: 45px;
  justify-content: center;
  background-color: #edf0f4;
}
.snowflake-calc-image {
  width: 35px;
  align-self: center;
  object-fit: cover;
}
.snowflake-calc-text025 {
  overflow: hidden;
  font-size: 16px;
  align-self: center;
  margin-top: 20px;
}
.snowflake-calc-textinput {
  flex: 1;
  width: 33%;
  border: 1px solid rgba(120, 120, 120, 0.4);
  height: 25px;
  font-size: 12px;
  align-self: center;
  margin-top: 20px;
  text-align: center;
  margin-left: 0px;
  border-radius: 5px;
}
.snowflake-calc-container13 {
  flex: 1;
  width: 100%;
  height: 300px;
  display: flex;
  align-self: center;
  margin-top: 30px;
  align-items: flex-end;
  margin-bottom: 30px;
  justify-content: flex-end;
}
.snowflake-calc-text026 {
  width: 100%;
  height: 200px;
  overflow: hidden;
  font-size: 10px;
  align-self: center;
  overflow-y: hidden;
  text-align: center;
  line-height: 1.4;
  padding-left: 20px;
  padding-right: 20px;
}
.snowflake-calc-line-divider-div2 {
  width: 100%;
  height: 9px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.snowflake-calc-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: 75px;
  display: flex;
  overflow: hidden;
  align-self: center;
  margin-top: 10px;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
}
.snowflake-calc-text052 {
  font-size: 15px;
  align-self: center;
  margin-top: -5px;
  font-weight: 700;
  margin-right: 2px;
}
.snowflake-calc-text053 {
  font-size: 30px;
  align-self: center;
  font-weight: 700;
  margin-right: 5px;
}
.snowflake-calc-text054 {
  align-self: center;
}
.snowflake-calc-enterprise-edition-container {
  flex: 1;
  width: 33%;
  border: 1px solid rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: 0px;
  border-width: 1px;
  margin-right: 3%;
  border-radius: 5px;
  margin-bottom: 0px;
  flex-direction: column;
}
.snowflake-calc-container15 {
  flex: 0 0 auto;
  width: 60px;
  height: 60px;
  display: flex;
  overflow: visible;
  align-self: center;
  margin-top: -30px;
  align-items: flex-start;
  border-radius: 45px;
  justify-content: center;
  background-color: #edf0f4;
}
.snowflake-calc-image1 {
  width: 35px;
  align-self: center;
  object-fit: cover;
}
.snowflake-calc-text058 {
  overflow: hidden;
  font-size: 16px;
  align-self: center;
  margin-top: 20px;
}
.snowflake-calc-textinput1 {
  flex: 1;
  width: 33%;
  border: 1px solid rgba(120, 120, 120, 0.4);
  height: 25px;
  font-size: 12px;
  align-self: center;
  margin-top: 20px;
  text-align: center;
  margin-left: 0px;
  border-radius: 5px;
}
.snowflake-calc-container16 {
  flex: 1;
  width: 100%;
  height: 300px;
  display: flex;
  align-self: center;
  margin-top: 30px;
  align-items: flex-end;
  margin-bottom: 30px;
  justify-content: flex-end;
}
.snowflake-calc-text059 {
  width: 100%;
  height: 200px;
  overflow: hidden;
  font-size: 10px;
  align-self: center;
  overflow-y: hidden;
  text-align: center;
  line-height: 1.4;
  padding-left: 20px;
  padding-right: 20px;
}
.snowflake-calc-text060 {
  font-style: normal;
  font-weight: 600;
}
.snowflake-calc-text061 {
  font-style: normal;
  font-weight: 600;
}
.snowflake-calc-line-divider-div3 {
  width: 100%;
  height: 9px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.snowflake-calc-container17 {
  flex: 0 0 auto;
  width: 100%;
  height: 75px;
  display: flex;
  overflow: hidden;
  align-self: center;
  margin-top: 10px;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
}
.snowflake-calc-text077 {
  font-size: 15px;
  align-self: center;
  margin-top: -5px;
  font-weight: 700;
  margin-right: 2px;
}
.snowflake-calc-text078 {
  font-size: 30px;
  align-self: center;
  font-weight: 700;
  margin-right: 5px;
}
.snowflake-calc-text079 {
  align-self: center;
}
.snowflake-calc-business-critical-edition-container {
  flex: 1;
  width: 33%;
  border: 1px solid rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: 0px;
  border-width: 1px;
  margin-right: 3%;
  border-radius: 5px;
  margin-bottom: 0px;
  flex-direction: column;
}
.snowflake-calc-container18 {
  flex: 0 0 auto;
  width: 60px;
  height: 60px;
  display: flex;
  overflow: visible;
  align-self: center;
  margin-top: -30px;
  align-items: flex-start;
  border-radius: 45px;
  justify-content: center;
  background-color: #edf0f4;
}
.snowflake-calc-image2 {
  width: 35px;
  align-self: center;
  object-fit: cover;
}
.snowflake-calc-text083 {
  overflow: hidden;
  font-size: 16px;
  align-self: center;
  margin-top: 20px;
}
.snowflake-calc-textinput2 {
  flex: 1;
  width: 33%;
  border: 1px solid rgba(120, 120, 120, 0.4);
  height: 25px;
  font-size: 12px;
  align-self: center;
  margin-top: 20px;
  text-align: center;
  margin-left: 0px;
  border-width: 1px;
  border-radius: 5px;
}
.snowflake-calc-container19 {
  flex: 1;
  width: 100%;
  height: 300px;
  display: flex;
  align-self: center;
  margin-top: 30px;
  align-items: flex-end;
  margin-bottom: 30px;
  justify-content: flex-end;
}
.snowflake-calc-text084 {
  width: 100%;
  height: 200px;
  overflow: hidden;
  font-size: 10px;
  align-self: center;
  overflow-y: hidden;
  text-align: center;
  line-height: 1.4;
  padding-left: 20px;
  padding-right: 20px;
}
.snowflake-calc-text085 {
  font-style: normal;
  font-weight: 600;
}
.snowflake-calc-text086 {
  font-style: normal;
  font-weight: 600;
}
.snowflake-calc-line-divider-div4 {
  width: 100%;
  height: 9px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.snowflake-calc-container20 {
  flex: 0 0 auto;
  width: 100%;
  height: 75px;
  display: flex;
  overflow: hidden;
  align-self: center;
  margin-top: 10px;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
}
.snowflake-calc-text105 {
  font-size: 15px;
  align-self: center;
  margin-top: -5px;
  font-weight: 700;
  margin-right: 2px;
}
.snowflake-calc-text106 {
  font-size: 30px;
  align-self: center;
  font-weight: 700;
  margin-right: 5px;
}
.snowflake-calc-text107 {
  align-self: center;
}
.snowflake-calc-storage-costs-div {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
}
.snowflake-calc-on-demand-storage-div {
  flex: 0 0 auto;
  width: 47%;
  border: 1px solid rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  border-style: solid;
  border-width: 1px;
  margin-right: 3%;
  border-radius: 5px;
  flex-direction: column;
}
.snowflake-calc-text111 {
  font-size: 16px;
  align-self: center;
  margin-top: 20px;
}
.snowflake-calc-image3 {
  width: 60px;
  align-self: center;
  margin-top: 20px;
  object-fit: cover;
  margin-bottom: 20px;
}
.snowflake-calc-container21 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  overflow: hidden;
  align-self: center;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}
.snowflake-calc-text112 {
  font-size: 15px;
  align-self: stretch;
  margin-top: 12px;
  font-weight: 700;
  margin-right: 2px;
}
.snowflake-calc-text113 {
  font-size: 30px;
  align-self: center;
  font-weight: 700;
  margin-right: 5px;
}
.snowflake-calc-text114 {
  align-self: center;
}
.snowflake-calc-capacity-storage-div {
  flex: 0 0 auto;
  width: 47%;
  border: 1px solid rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: flex-start;
  border-width: 1px;
  margin-right: 3%;
  border-radius: 5px;
  flex-direction: column;
}
.snowflake-calc-text118 {
  font-size: 16px;
  align-self: center;
  margin-top: 20px;
}
.snowflake-calc-image4 {
  width: 60px;
  align-self: center;
  margin-top: 20px;
  object-fit: cover;
  margin-bottom: 20px;
}
.snowflake-calc-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  overflow: hidden;
  align-self: center;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}
.snowflake-calc-text120 {
  font-size: 30px;
  align-self: center;
  font-weight: 700;
  margin-right: 5px;
}
.snowflake-calc-text121 {
  align-self: center;
}
.snowflake-calc-line-divider-div5 {
  width: 752px;
  height: 9px;
  display: flex;
  align-self: center;
  margin-top: 50px;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 1px;
  margin-bottom: 20px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.snowflake-calc-totale-kosten-div {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin-top: 10px;
  align-items: flex-start;
  justify-content: center;
}
.snowflake-calc-totale-kosten-title-div {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.snowflake-calc-heading2 {
  font-size: 20px;
  align-self: center;
  margin-right: 25px;
}
.snowflake-calc-icon15 {
  width: 24px;
  height: 24px;
}
.snowflake-calc-select-editie-div {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.snowflake-calc-select-editie {
  color: #595959;
  width: var(--dl-size-size-xlarge);
  height: 40px;
  font-size: 14px;
  border: none;
  align-self: center;
  text-align: center;
  font-weight: 500;
  margin-right: 20px;
  background-color: #edf0f4;
}
.snowflake-calc-totale-kosten-wrapper-div {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-bottom: 30px;
  justify-content: center;
}
.snowflake-calc-totale-kosten-container-div {
  flex: 0 0 auto;
  width: 50%;
  border: 1px solid rgba(120, 120, 120, 0.4);
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.snowflake-calc-total-hours-credits-storage-div1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-width: 1px;
}
.snowflake-calc-container23 {
  flex: 1;
  width: 33%;
  height: 75px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}
.snowflake-calc-icon17 {
  width: 24px;
  height: 24px;
}
.snowflake-calc-text125 {
  font-size: 14px;
  margin-left: 10px;
}
.snowflake-calc-text126 {
  font-weight: 900;
}
.snowflake-calc-container24 {
  flex: 1;
  width: 33%;
  height: 75px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}
.snowflake-calc-icon19 {
  width: 24px;
  height: 24px;
}
.snowflake-calc-text128 {
  font-size: 14px;
  align-self: center;
  margin-left: 10px;
}
.snowflake-calc-text129 {
  font-weight: 900;
}
.snowflake-calc-container25 {
  flex: 1;
  width: 30%;
  height: 75px;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.snowflake-calc-icon22 {
  width: 24px;
  height: 24px;
}
.snowflake-calc-text131 {
  font-size: 14px;
  align-self: center;
  margin-left: 10px;
}
.snowflake-calc-container26 {
  flex: 0 0 auto;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-width: 1px;
  border-top-width: 0px;
}
.snowflake-calc-totale-kosten-bedrag-div {
  flex: 0 0 auto;
  width: 33.15%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
  background-color: #edf0f4;
}
.snowflake-calc-text134 {
  font-size: 20px;
  align-self: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
.snowflake-calc-container27 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.snowflake-calc-text135 {
  font-size: 15px;
  align-self: stretch;
  margin-top: 12px;
  font-weight: 700;
  margin-right: 2px;
}
.snowflake-calc-text136 {
  font-size: 30px;
  align-self: center;
  font-weight: 700;
  margin-right: 5px;
}
.snowflake-calc-text137 {
  align-self: center;
}
.snowflake-calc-text141 {
  font-size: 10px;
  align-self: center;
  margin-top: 20px;
}
.snowflake-calc-toelichting-totale-kosten-div {
  flex: 0 0 auto;
  width: 66.64%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.snowflake-calc-toelichting-totale-kosten-title-div {
  flex: 0 0 auto;
  width: 100%;
  height: 20%;
  display: flex;
  overflow: hidden;
  align-self: center;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-width: 1px;
  justify-content: center;
  background-color: #e6e6e6;
  border-top-width: 0px;
  border-left-width: 1px;
  border-right-width: 0px;
}
.snowflake-calc-text142 {
  overflow: hidden;
  font-size: 16px;
  align-self: center;
  margin-right: 25px;
}
.snowflake-calc-icon26 {
  fill: #d10a10;
  width: 24px;
  height: 24px;
}
.snowflake-calc-toelichting-tekst-div {
  flex: 0 0 auto;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-width: 1px;
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.snowflake-calc-text143 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 12px;
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.snowflake-calc-contact-button-div {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}
.snowflake-calc-button {
  color: white;
  width: 300px;
  height: 50px;
  z-index: 1000;
  align-self: center;
  font-style: normal;
  margin-top: 0px;
  font-weight: 700;
  background-color: #29323d;
}

.tooltips {
  position: relative;
  display: inline;
  overflow: visible;
  display: flex;
  justify-content: center;
}

.tooltips span {
  font: 300 12px "Open Sans", sans-serif;
  position: absolute;
  color: #ffffff;
  background: #000000;
  padding: 5px 10px;
  width: 400px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: transform 0.3s, opacity 0.6s, margin-left 0.2s, margin-top 0.2s;
}

.tooltips > span img {
  max-width: 140px;
}

.tooltips[tooltip-position="top"] span {
  margin-left: 10px;
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.tooltips[tooltip-position="bottom"] span {
  -ms-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.tooltips[tooltip-position="left"] span {
  margin-top: 30px;
  -ms-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.tooltips[tooltip-position="right"] span {
  margin-top: 30px;
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.tooltips span:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

.tooltips[tooltip-position="top"] span:after {
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border-top: 8px solid black;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.tooltips[tooltip-position="bottom"] span:after {
  bottom: 100%;
  left: 18%;
  margin-left: -8px;
  border-bottom: 8px solid black;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.tooltips[tooltip-position="left"] span:after {
  top: 50%;
  left: 100%;
  margin-top: -8px;
  border-left: 8px solid black;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.tooltips[tooltip-position="right"] span:after {
  top: 50%;
  right: 100%;
  margin-top: -8px;
  border-right: 8px solid black;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.tooltips:hover span {
  visibility: visible;
  opacity: 1;
  z-index: 999;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  filter: alpha(opacity=100);
}

.tooltips[tooltip-position="top"]:hover span {
  bottom: 30px;
  left: 50%;
  margin-left: -76px;
}

.tooltips[tooltip-position="bottom"]:hover span {
  top: 30px;
  left: 50%;
  margin-top: 10px;
  margin-left: -76px;
}

.tooltips[tooltip-position="left"]:hover span {
  right: 100%;
  top: 50%;
  margin-top: -15px;
  margin-right: 15px;
}

.tooltips[tooltip-position="right"]:hover span {
  left: 100%;
  top: 50%;
  margin-top: -15px;
  margin-left: 15px;
}

.tooltips[tooltip-type="primary"] > span {
  background-color: #2980b9;
}

.tooltips[tooltip-type="primary"][tooltip-position="top"] > span:after {
  border-top: 8px solid #2980b9;
}

.tooltips[tooltip-type="primary"][tooltip-position="bottom"] > span:after {
  border-bottom: 8px solid #2980b9;
}

.tooltips[tooltip-type="primary"][tooltip-position="left"] > span:after {
  border-left: 8px solid #2980b9;
}

.tooltips[tooltip-type="primary"][tooltip-position="right"] > span:after {
  border-right: 8px solid #2980b9;
}

.tooltips[tooltip-type="success"] > span {
  background-color: #27ae60;
}

.tooltips[tooltip-type="success"][tooltip-position="top"] > span:after {
  border-top: 8px solid #27ae60;
}

.tooltips[tooltip-type="success"][tooltip-position="bottom"] > span:after {
  border-bottom: 8px solid #27ae60;
}

.tooltips[tooltip-type="success"][tooltip-position="left"] > span:after {
  border-left: 8px solid #27ae60;
}

.tooltips[tooltip-type="success"][tooltip-position="right"] > span:after {
  border-right: 8px solid #27ae60;
}

.tooltips[tooltip-type="warning"] > span {
  background-color: #f39c12;
}

.tooltips[tooltip-type="warning"][tooltip-position="top"] > span:after {
  border-top: 8px solid #f39c12;
}

.tooltips[tooltip-type="warning"][tooltip-position="bottom"] > span:after {
  border-bottom: 8px solid #f39c12;
}

.tooltips[tooltip-type="warning"][tooltip-position="left"] > span:after {
  border-left: 8px solid #f39c12;
}

.tooltips[tooltip-type="warning"][tooltip-position="right"] > span:after {
  border-right: 8px solid #f39c12;
}

.tooltips[tooltip-type="danger"] > span {
  background-color: #c0392b;
}

.tooltips[tooltip-type="danger"][tooltip-position="top"] > span:after {
  border-top: 8px solid #c0392b;
}

.tooltips[tooltip-type="danger"][tooltip-position="bottom"] > span:after {
  border-bottom: 8px solid #c0392b;
}

.tooltips[tooltip-type="danger"][tooltip-position="left"] > span:after {
  border-left: 8px solid #c0392b;
}

.tooltips[tooltip-type="danger"][tooltip-position="right"] > span:after {
  border-right: 8px solid #c0392b;
}
